<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button color="light" routerLink="/{{tipo}}-dashboard">
        <ion-icon name="arrow-back-outline" ></ion-icon>
      </ion-button>
      <ion-title>Profissional</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
    <h1 class="titulo">Profissional:</h1>
    <hr>
      <ion-item>
        <ion-label position="floating">Nome:</ion-label>
        <ion-input  name="nome" type="text" [(ngModel)]="profissional.nome" required ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input name="email" type="email" [(ngModel)]="profissional.email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CRM:</ion-label>
        <ion-input type="text" name="crm" [(ngModel)]="profissional.cpf" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone:</ion-label>
        <ion-input name="telefone" type="text" [(ngModel)]="profissional.telefone"  required></ion-input>
     </ion-item>
      <ion-item>
        <ion-label position="floating">Idade:</ion-label>
        <ion-input name="idade" type="text" [(ngModel)]="profissional.idade"  required></ion-input>
      </ion-item>
    </ion-card>
    <hr>
    <h1 class="titulo">Endereço:</h1>
    <hr>
    <ion-card class="card">
      <ion-item>
        <ion-label position="floating">Endereço:</ion-label>
        <ion-input type="text" name="endereco" [(ngModel)]="profissional.endereco" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número:</ion-label>
        <ion-input name="numero" type="text" [(ngModel)]="profissional.numero"  required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cep:</ion-label>
        <ion-input name="cep" type="text" [(ngModel)]="profissional.cep" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Bairro:</ion-label>
        <ion-input name="bairro" type="text" [(ngModel)]="profissional.bairro" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cidade:</ion-label>
        <ion-input name="cidade" type="text" [(ngModel)]="profissional.cidade" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">UF:</ion-label>
        <ion-input name="uf" type="text" [(ngModel)]="profissional.uf" required></ion-input>
      </ion-item>
    </ion-card>
    <ion-card class="card">
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input name="password" type="password"  [(ngModel)]="profissional.senha" required></ion-input>
      </ion-item>
    </ion-card>
    <ion-button  expand="full" color="success" (click)="gravar()">Gravar</ion-button>
</ion-content>
