ion-title{
    float:center;
}

.card{
    box-shadow: 5px 5px 20px  #DCDCDC;
}

.titulo{
    color: black;
    font-family: 'Sans';
    float: center;
    margin-left: 20px;
}


label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}