<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons >
          <ion-button routerLink="/">
              <ion-icon name="arrow-back-outline" ></ion-icon>
          </ion-button> 
          <ion-title>Instituição</ion-title>
          <ion_button>
              <ion-icon slot="end" name="settings-outline" (click)="show()"></ion-icon>
          </ion_button> &nbsp;&nbsp;
      </ion-buttons>
  </ion-toolbar>  
</ion-header>
<ion-content>
  <ion-card height="250" width="250">
   <img src="../../assets/imagens/paciente.png" height="140" width="147"  routerLink="/paciente-list">
   <p>Pacientes Cadastrados</p>
  </ion-card>
  <ion-card height="250" width="250">
   <img src="../../assets/imagens/medico.png" height="140" width="140" routerLink="/profissional-list">
   <p>Profissionais de Saúde</p>
  </ion-card>
  <ion-card height="250" width="250">
   <img src="../../assets/imagens/pesquisa.svg" height="140" width="145" routerLink="/pesquisa">
   <p>Registre sua Pesquisa</p>
  </ion-card>
  
</ion-content>
