<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons >
          <ion-button routerLink="/{{tipo}}-dashboard">
              <ion-icon name="arrow-back-outline" ></ion-icon>
          </ion-button> 
          <ion-title>Lista Instituição</ion-title>
          <ion_button *ngIf="admin">
              <ion-icon slot="end" name="add" (click)="novo()"></ion-icon>
          </ion_button>&nbsp;&nbsp;
      </ion-buttons>
  </ion-toolbar>  
</ion-header>
<ion-item>
  <ion-searchbar primary
             (keyup)="buscar($event)"
             placeholder="Buscar">
  </ion-searchbar>    
  <hr>
</ion-item>
<ion-content>
  <ion-card *ngFor= "let instituicao of instituicoes" class="instituicoes">
    <ion-card-title>{{instituicao.nome}}</ion-card-title>
    <hr>
    <ion-card-subtitle>contato: {{instituicao.email}}</ion-card-subtitle>
    <ion-card-subtitle>Endereço: {{instituicao.endereco}}</ion-card-subtitle>
    <ion-card-subtitle>Telefone: {{instituicao.telefone}}</ion-card-subtitle>
  </ion-card>
</ion-content>
