<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons >
          <ion-button routerLink="/{{tipo}}-dashboard">
              <ion-icon name="arrow-back-outline" ></ion-icon>
          </ion-button> 
          <ion-title>Lista Profissional</ion-title>
          <ion_button *ngIf="admin">
              <ion-icon slot="end" name="add" (click)="novo()"></ion-icon>
          </ion_button>&nbsp;&nbsp;
      </ion-buttons>
  </ion-toolbar>  
</ion-header>
<ion-content>
  <ion-item>
    <ion-searchbar primary
               (keyup)="buscar($event)"
               placeholder="Buscar">
    </ion-searchbar>    
    <hr>
  </ion-item>
  <ion-card *ngFor= "let profissional of profissionais" class="profissionais">
    <ion-card-title>{{profissional.nome}}</ion-card-title>
    <hr>
    <ion-card-subtitle>Contato: {{profissional.email}}</ion-card-subtitle>
    <ion-card-subtitle>Instituição Filiada: {{profissional.nome_inst}}</ion-card-subtitle>
    <ion-card-subtitle>Especialização: {{profissional.especializacao}}</ion-card-subtitle>
  </ion-card>