<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button color="light" routerLink="/{{tipo}}-dashboard">
        <ion-icon name="arrow-back-outline" ></ion-icon>
      </ion-button>
      <ion-title>Cadastre sua pesquisa</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Número do CAAE</ion-label>
      <ion-input name="ce" type="text" [(ngModel)]="pesquisa.ce" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Título da Pesquisa</ion-label>
      <ion-input name="titulo" type="text" [(ngModel)]="pesquisa.titulo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input name="descricao" type="text" [(ngModel)]="pesquisa.descricao" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome do produto a ser testado </ion-label>
      <ion-input name="produto" type="text" [(ngModel)]="pesquisa.produto" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pesquisador Principal</ion-label>
      <ion-input name="pesquisador" type="text" [(ngModel)]="pesquisa.pesquisador" required></ion-input>
    </ion-item>
    <ion-button  expand="full" color="success" (click)="gravar()">Gravar</ion-button>
  </ion-card>
</ion-content>