<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons >
            <ion-button routerLink="/{{tipo}}-dashboard">
                <ion-icon name="arrow-back-outline" ></ion-icon>
            </ion-button> 
            <ion-title>Lista Pacientes</ion-title>
            <ion_button *ngIf="admin">
                <ion-icon slot="end" name="add" (click)="novo()"></ion-icon>
            </ion_button>&nbsp;&nbsp;
        </ion-buttons>
    </ion-toolbar>  
</ion-header>
<ion-item>
    <ion-searchbar primary
               (keyup)="buscar($event)"
               placeholder="Buscar">
    </ion-searchbar>    
    <hr>
</ion-item> 

<ion-content>
    <ion-card *ngFor= "let paciente of pacientes" class="pacientes">
        <ion-card-title>{{paciente.nome}}</ion-card-title>
        <hr>
        <ion-card-subtitle>Contato: {{paciente.email}}</ion-card-subtitle>
        <ion-card-subtitle>Idade: {{paciente.idade}} anos</ion-card-subtitle>
        <ion-card-subtitle>Sexo: {{paciente.sexo}}</ion-card-subtitle>
        <ion-card-subtitle>CID: {{paciente.cid}}</ion-card-subtitle>
    </ion-card>
</ion-content>