ion-button{
    margin-top: 30px;
}

.login{
    margin-top: 100px;
    text-align:center;
}
a{
    text-decoration: none;
}

.user{
    font-size: 10px;
    font-family: 'Times';
    color:grey; 
    float:right;
}