<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card class="login">
    <ion-item >
      <ion-label position="floating">Usuário <p class = "user">(CPF, CNPJ, CRM)</p></ion-label>
      <ion-input name="name" type="text" [(ngModel)]="login.usuario" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input name="password" type="password"  [(ngModel)]="login.senha" required></ion-input>
    </ion-item>
  <ion-button class="gravar" expand="full" color="success" (click)="acessar()">Entrar</ion-button>
  <p>Não tem cadastro? <a color="primary" routerLink="/usuario">Cadastre-se!</a></p>
</ion-card>
</ion-content>