<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button color="light" routerLink="/paciente-dashboard">
        <ion-icon name="arrow-back-outline" ></ion-icon>
      </ion-button>
      <ion-title>Paciente</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item padding>
    <ion-label position="floating">Id</ion-label>
    <ion-input  name="id" type="text" [(ngModel)]="paciente.id" required readonly="" ></ion-input>
  </ion-item>
  <ion-item padding>
    <ion-label position="floating">Nome</ion-label>
    <ion-input  name="nome" type="text" [(ngModel)]="paciente.nome" required ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input name="email" type="email" [(ngModel)]="paciente.email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Idade</ion-label>
    <ion-input name="idade" type="text" [(ngModel)]="paciente.idade" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input name="telefone" telefone="telefone" type="tel" [(ngModel)]="paciente.telefone" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">CPF</ion-label>
    <ion-input type="text" [(ngModel)]="paciente.cpf" name="cpf" readonly=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">CID</ion-label>
    <ion-input type="text" name="cid" [(ngModel)]="paciente.cid" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input name="senha" type="password" [(ngModel)]="paciente.senha"  required></ion-input>
  </ion-item>
  <ion-button class="gravar" expand="full" color="success" (click)="gravar()">Gravar</ion-button>
</ion-content>

