h1{
    font-size: 50px;
    font-family:  'Gill Sans MT';
    float:left;
    color: #e0ffff;
    text-shadow: 2px  2px grey;
}
h5 {
    margin-top: -10px;
    margin-left: 72px;
    float:left;
    color: #e0ffff;
    padding: 0x;
    padding-top: 0px;
}
.logo {
    float:left;
    margin-top: 15px;
}

.home{
    padding: 87px 50px;
    margin-top: 30px;
    float:center;   
    font-size: 17px;
}

#title{
    color: grey;
    font-size:30px;
    font-family: 'Sans';
    text-shadow: none;
    float: top;
    margin-top: -50px;
}



ion-content {
//    --background: #ffff00; url('../../assets/imagens/gradiente.jpg') no-repeat center center / cover !important;
    --background: #00bfff no-repeat center center / cover !important;
}
