<ion-content>  
  <img src="../../assets/fitness-outline.svg" height="70" width="70" class="logo"/><h1>PesquisInt</h1><br style="clear: both;">
  <h5>                  Pesquisa Clínica Inteligente</h5>
  <!--   <ion-button routerLink="../cadinstituicao">Intituição de pesquisa</ion-button></br>
  <ion-button routerLink="../cadpaciente">Paciente</ion-button></br>
  <ion-button routerLink="../cadprofissional">Profissional</ion-button></br> -->

  <ion-card class="home">
    <p id="title">Seja bem vindo ao PesquisInt!</p>
<article>
  <p>O PesquisInt foi desenvolvido para auxiliar a ponte entre Centros e Instituições de Pesquisa e pessoas que desejam se voluntariar para participar de pesquisas clínicas em todo o mundo! </p>
</article>
    <hr>
    <p>Escolha uma das opções abaixo para se cadastrar: </p>
        <!-- <p><strong>Paciente</strong> <strong>  Profissional</strong> <strong>  Instituição</strong></p> -->
  </ion-card>
</ion-content>

<ion-tabs>

  <ion-tab-bar slot="bottom"  color="success">
    <ion-tab-button  routerLink="/paciente">
      <ion-icon name="person"></ion-icon>
      <ion-label>Paciente</ion-label>
    </ion-tab-button>

    <ion-tab-button  routerLink="/profissional">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Profissional</ion-label>
    </ion-tab-button>

    <ion-tab-button  routerLink="/instituicao" >
      <ion-icon name="business"></ion-icon>
      <ion-label>Instituicao</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
