<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons >
          <ion-button routerLink="/{{tipo}}-dashboard">
              <ion-icon name="arrow-back-outline" ></ion-icon>
          </ion-button> 
          <ion-title>Lista Pesquisas</ion-title>
          <ion_button *ngIf="tipo !== 'paciente'">
              <ion-icon slot="end" name="add" (click)="novo()"></ion-icon>
          </ion_button>&nbsp;&nbsp;
      </ion-buttons>
  </ion-toolbar>  
</ion-header>
<ion-content>
  <ion-item>
    <ion-searchbar primary
               (keyup)="buscar($event)"
               placeholder="Buscar">
    </ion-searchbar>    
    <hr>
</ion-item> 
  <ion-card *ngFor= "let pesquisa of pesquisas" class="pesquisas">
    <ion-card-title>{{pesquisa.titulo}}</ion-card-title>
    <hr>
    <ion-card-subtitle>{{pesquisa.descricao}}</ion-card-subtitle>
    <ion-card-subtitle>Medicamento: {{pesquisa.produto}}</ion-card-subtitle>
    <ion-card-subtitle>Profissional Responsável: {{pesquisa.pesquisador}}</ion-card-subtitle>
      <ion-button *ngIf="tipo === 'paciente'" color="success">Candidatar</ion-button>    
  </ion-card>
</ion-content>