<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button color="light" routerLink="/login">
        <ion-icon name="arrow-back-outline" ></ion-icon>
      </ion-button>
      <ion-title>Usuário</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
   <ion-item padding>
  <ion-label position="floating">Tipo</ion-label>
  <ion-select [(ngModel)]="usuario.tipo" (ionChange)="mudarTipo()" required>
    <ion-select-option value="2">Profissional</ion-select-option>
    <ion-select-option value="3">Instituição</ion-select-option>
    <ion-select-option value="4">Paciente</ion-select-option>
  </ion-select>
</ion-item>
  <ion-item padding>
    <ion-label position="floating">Nome</ion-label>
    <ion-input  name="nome" type="text" [(ngModel)]="usuario.nome" required ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input name="email" type="email" [(ngModel)]="usuario.email" required></ion-input>
  </ion-item>
  <ion-item *ngIf="isCid">
    <ion-label position="floating">Idade</ion-label>
    <ion-input name="idade" type="text" [(ngModel)]="usuario.idade" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input name="telefone" telefone="telefone" type="tel" [(ngModel)]="usuario.telefone" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{campo}}</ion-label>
    <ion-input type="text" name="cpf" [(ngModel)]="usuario.cpf" required></ion-input>
  </ion-item>
  <ion-item *ngIf="isCid">
    <ion-label position="floating">CID</ion-label>
    <ion-select [(ngModel)]="usuario.cid" required width="100">
      <ion-select-option *ngFor="let cid of cids" value="{{cid.codigo}}">{{cid.codigo}} - {{cid.descricao}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input name="senha" type="password" [(ngModel)]="usuario.senha"  required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmação de Senha</ion-label>
    <ion-input name="confirma_senha" type="password" [(ngModel)]="usuario.confirma_senha" (ionBlur)="verificarSenha()" required></ion-input>
  </ion-item>
  <ion-button class="gravar" expand="full" color="success" (click)="gravar()"> Cadastrar</ion-button>
</ion-content>